<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>
<div class="jumbotron text-center">
  <div class="container">
<!--    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>-->
    <h1>RegocLab Enterprises, a multi-billion dollar company.</h1>
    <p>Not yet a member? Register now!</p>
    <a type="button" class="btn btn-lg btn-default" href="/pages/register"></span>Register</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    Maybe something here?
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> Put something here</h3>
      <ul>
        <li>Something else here.</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
      <ul>
        <li>Nothing helpful, we have</li>
      </ul>
    </div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
    Nothing necessary here yet.
  </div>
</div>
</body>
</html>